## Exercise 1

Find the 95th percentile of earthquake magnitude in Japan using the mb
magnitude type.

In [192]:
#Import libraries
import pandas as pd
import numpy as np

#Rad data file
df=pd.read_csv('data/parsed.csv')

### Solution 1

In [193]:
df.loc[
    (df.type=='earthquake') & (df.parsed_place=='Japan') & (df.magType=='mb'), ['mag']
    ].quantile(0.95)

mag    4.9
Name: 0.95, dtype: float64

### Solution 2

In [194]:
perc_Japan = df.mag[(df.type.str.contains('earthquake')) & (df.parsed_place.str.contains('Japan')) & (df.magType.str.contains("mb"))].quantile(0.95)
perc_Japan

4.9

## Exercise 2
Find the percentage of earthquakes in Indonesia that were coupled with tsunamis.

In [195]:
#Number of earthquakes on Indonesia
earthq_in=df.loc[
    (df.type=='earthquake') & (df.parsed_place=='Indonesia'), ['parsed_place']
    ].count()
#Number of earthquakes on Indonesia couples with tsunamis
earthq_in_ts=df.loc[
    (df.type=='earthquake') & (df.parsed_place=='Indonesia') & (df.tsunami == 1), ['parsed_place']
    ].count()

print('Percentage of earthquakes in Indonesia that were coupled with tsunamis is:', 100*earthq_in_ts[0]/earthq_in[0], '%') if earthq_in[0]!=0 else print('Percentage of earthquakes in Indonesia that were coupled with tsunamis is: 0')

Percentage of earthquakes in Indonesia that were coupled with tsunamis is: 23.12925170068027 %

## Exercise 3
Calculate summary statistics for earthquakes in Nevada

In [196]:
df[(df.type.str.contains('earthquake')) & (df.parsed_place.str.contains('Nevada'))].describe()

,cdi,dmin,felt,gap,mag,mmi,nst,rms,sig,time,tsunami,tz,updated
count,14.000000,647.000000,14.000000,647.000000,647.000000,1.00,647.000000,647.000000,647.000000,6.470000e+02,647.0,647.0,6.470000e+02
mean,2.421429,0.163155,2.500000,154.436615,0.437311,2.84,12.704791,0.140627,9.146832,1.538318e+12,0.0,-480.0,1.538409e+12
std,0.514675,0.161793,4.783787,69.474945,0.653397,NaN,10.052695,0.056765,17.939055,5.954980e+08,0.0,0.0,5.991682e+08
min,2.000000,0.001000,1.000000,29.140000,-0.500000,2.84,3.000000,0.000500,0.000000,1.537247e+12,0.0,-480.0,1.537323e+12
25%,2.000000,0.053000,1.000000,97.295000,-0.100000,2.84,6.000000,0.104400,0.000000,1.537859e+12,0.0,-480.0,1.537928e+12
50%,2.200000,0.109000,1.000000,150.040000,0.300000,2.84,9.000000,0.142900,1.000000,1.538286e+12,0.0,-480.0,1.538428e+12
75%,3.000000,0.223000,1.000000,200.515000,0.800000,2.84,16.000000,0.181050,10.000000,1.538824e+12,0.0,-480.0,1.538878e+12
max,3.300000,1.414000,19.000000,355.910000,2.900000,2.84,61.000000,0.340000,129.000000,1.539461e+12,0.0,-480.0,1.539483e+12

## Exercise 4
Add a column indicating whether the earthquake happened in a country or US state that is on the Ring of Fire. Use Alaska, Antarctica (look for Antarctic), Bolivia, California, Canada, Chile, Costa Rica, Ecuador, Fiji, Guatemala, Indonesia, Japan, Kermadec Islands, Mexico (be careful not to select New Mexico), New Zealand, Peru, Philippines, Russia, Taiwan, Tonga, and Washington.

In [197]:
ring_of_fire=['Alaska', 'Pacific-Antarctic Ridge', 'Western Indian-Antarctic Ridge', 'Bolivia', 'California', 'Canada', 'Chile', 'Costa Rica', 'Ecuador', 'Fiji', 'Guatemala', 'Indonesia', 'Japan', 'Kermadec Islands', 'Mexico', 'New Zealand', 'Peru', 'Philippines', 'Russia', 'Taiwan', 'Tonga', 'Washington']
# df.parsed_place[df.parsed_place.isin(ring_of_fire)].value_counts().sort_values()
# df.assign(in_ridge_of_fire=df.parsed_place.isin(ring_of_fire)).sample(20, random_state=0)
df=df.assign(in_ridge_of_fire=df.parsed_place.isin(ring_of_fire))

## Exercise 5
Calculate the number of earthquakes in the Ring of Fire locations and the number outside of them.

In [198]:
eartq_in=df.type[(df.type.str.contains('earthquake')) & df.in_ridge_of_fire].count()
earthq_out=df.type[(df.type.str.contains('earthquake')) & ~df.in_ridge_of_fire].count()

print('Number of earthquakes in the Ring of Fire locations:', eartq_in, '\nNumber of earthquakes outside the Ring of Fire locations:', earthq_out)

Number of earthquakes in the Ring of Fire locations: 7004
Number of earthquakes outside the Ring of Fire locations: 2077

## Exercise 6
Find the tsunami count along the Ring of Fire.

In [199]:
tsu_cnt=df.loc[
    (df.tsunami==1) & (df.in_ridge_of_fire), ['place']
].count()

print('Tsunami count along the ridge of fire=', tsu_cnt[0])

Tsunami count along the ridge of fire= 45